{% extends "base.html" %} {% block title %}Welcome{% endblock %} {%block content
%}

<html>
  <h1 color="#000000" align="center">WatchList</h1>
  <form method="post">
    <div class="text-center">
      <a href="/" align="center">
        <button
          align="center"
          type="button"
          class="btn btn-primary"
          color="#000000"
        >
          Home
        </button>
      </a>
      <ul class="list-group list-group-flush" id="favorites"> 
       {% for new_favorite in user.favorite %}
       <li class="list-group list-group-flush">{{ favorite.data }}</li>
       {% endfor %}
      
      </ul>
    </div>
  </form>

  <h4>
    <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .text-center {
        text-align: center;
      }
    </style>
  </h4>
</html>

{% endblock %}
