{% extends "base.html" %} {% block title %} Home {% endblock %} {%block content
%}
<h1 align="center">PickFlix</h1>
<h2 align="center">Generate random Movies or TV Shows?</h2>
<a href="/movies" align="center">
  <div class="text-center">
  <button align="center" type="button" class="btn btn-primary" color="#000000">
    Movies
  </button>
  <a href="/tvshows" align="center">
  <button align="center" type="button" class="btn btn-primary" color="#000000">
    TV Shows
  </button>
  <a href="/favorites" align="center">
    <button align="center" type="button" class="btn btn-primary" color="#000000">
      Favorites
    </button>
      <form method="post" action="{{ url_for('auth.join_family') }}">
        <input type="hidden" name="generate_code" value="{{ generate_code }}">
        <input type="hidden" name="current_user.id" value="{{ current_user.id }}">
    <button align="center" type="submit" class="btn btn-primary">Create Group</button>
</form>

    </div>



</a>

{% endblock %}
