{% extends "base.html" %} {% block title %} Home {% endblock %} {%block content%}

<br/>
<h1 align="center">Playlst</h1>
<p>Discover your TV show and movie playlist with playlst! Create a group, invite friends, and start matching!</p>
<br/>
<br/>
<div class="button-group">
<a href="/movies" align="center">
  <div class="text-center">
  <button class="generic_button" align="center" type="button" color="#000000">
    Movies 🎥
  </button> </a>
  <a href="/tvshows" align="center">
    <button class="generic_button" align="center" type="button" color="#000000">
    TV Shows 📺
  </button> </a>
  <a href="/favorites" align="center">
    <button  class="generic_button" align="center" type="button" color="#000000">
      Playlst <img src="{{ url_for('static', filename='brand_images/playlst_icon.png') }}" class="brand_icon">
    </button> </a>
      <form method="post" action="/group_hub">
        <button class="generic_button" align="center" type="submit">Group Hub 👥</button>
    <a href="/shared_favorites" align="center">
      <button class="generic_button" align="center" type="button" color="#000000">
        Matched Playlst 🔥
      </button> </a>
</form>

    </div>

<style>
  
  .container {
    margin: 0 auto;
    text-align: center;
  }

  .brand_icon {
    height: 20px;
    width: 20px;
    margin: 2px;
  }

  .generic_button {
    display: block;
    background-color: #66AA33;
    color: white;
    padding: 12px 24px;
    border-radius: 35px;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  li {
    justify-content: center;
    align-items: center;
  }

 

  label {
    font-size: 16px;
    font-weight: bold;
  }

  input {
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }

  ul {
    list-style-position: inside;
  }

  .group-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: trasparent;
    border-radius: 35px;
    }
    
    .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    
    .card {
      width: 35%;
      margin: 0 auto; 
      padding: 20px;
      margin: auto;
      text-align: center;
      background-color: #66AA33;
      color: white;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    @media (max-width: 480px) {
      .card {
        width: 100%; /* Set width to 100% to fill the screen */
        margin: 20px 0; /* Set top and bottom margin to 20px, and remove horizontal margin */
        padding: 20px; /* Maintain the same padding */
      }
    }
    .card-header {
      font-size: 24px;
      padding: 10px;
      background-color: #66AA33;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    
    .card-body {
      padding: 20px;
    }
    
    .subtitle {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .value {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 20px;
    }
    
    .members {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
    
    .members li {
      margin-bottom: 5px;
    }
    
    #change_button {
      background-color: white;
      border-radius: 10px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 0px 0;
      color: black;
      max-width: 300px;
      font-family: Arial, sans-serif;
      margin: 0 250px;
      background-color: white;
      border-radius: 35px;
      margin: 0 auto;
      padding: 10px;
      text-align: center;     
    }
    
    @media (max-width: 480px) {
      p {
        font-size: 16px;
        margin: 0 auto;
      }
    }

    .button-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .button-group button {
      flex: 1 1 auto;
      margin: 10px;
      width: 300px;
      border-radius: 35x;
    }


</style>

{% endblock %}
