{% extends "base.html" %} {% block title %} Login {% endblock %} {%block content
%}
<form method="POST">
  <div>
    <h1> Welcome to</h1>
  </br>
    <img src="{{ url_for('static', filename='brand_images/playlst_logo.jpeg') }}">
   
    <h3> Discover your TV show and movie playlist with playlst! Create a group, invite friends, and start matching!</h3>
  </div>
</br>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter Password"
    />
  </div>

  <br />
  
  <button type="submit" class="button">Login</button>
  <a href="/signup"> <button type="button" class="button">SignUp</button></a>
</form>

<style>
  h1 {
    text-align: center;
    font-family: classic sans serif, baron;
    font-size: 75px;
    font-weight: bold;
    color: #66aa33;
  }
  h2 {
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: classic sans serif, baron;
    font-size: 24px;
    font-weight: bold;
    color: #66aa33;
    padding: 1px; /* add some padding to make the background more visible */
  }

  h3 {
    font-size: 16px;
      line-height: 1.5;
      margin: 0px 0;
      color: #66aa33;
      max-width: 300px;
      font-family: Arial, sans-serif;
      margin: 0 250px;
      background-color: white;
      border-radius: 35px;
      margin: 0 auto;
      padding: 10px;
      text-align: center;    /
  }
  
  .text-center {
    text-align: center;
  }
  body {
    background: white;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  .button {
    background-color: #66aa33;
    color: white;
    padding: 1px 30px;
    border-radius: 35px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  .button:hover {
    background-color: #518828;
  }
  .card {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .card-body {
    padding: 0;
  }
  .col {
    margin-bottom: 20px;
  }
  .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }

  .card-text {
    font-size: 16px;
  }
  img {
    height: 35%;
    width: 50%;
    margin-bottom: 0px;
    margin-top: -25px;
    margin-left: 115px;
    padding: 0px;
  }
 

 
</style>
{% endblock%}
