{% extends "base.html" %} {% block title %} Login {% endblock %}
{%block content %}
<form method="POST"> 
    <div>
    <h1 align="center">Welcome to PickFlix!</h1>
    <h2 align="center">Please Sign Up or Login</h2>
    </div>
    <div class="form-group"> 
        <label for="email"> 
            Email Address
        </label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email">
    </div>

    <div class="form-group"> 
        <label for="password"> 
            Password
        </label>
        <input type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Enter Password">
    </div>

    <br/> 
    <button type="submit" class="btn btn-primary">Login</button>        


</form>

<style> 

    h1 {
      font-family: Arial, sans-serif;
      font-size: 50px;
      font-weight: bold;
    }
    h2 {
      padding: 5px 10px;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      font-size: 24px;
      font-weight: bold;
      padding: 1px; /* add some padding to make the background more visible */
    }

    h3 {
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 15px;
    }
    .text-center {
      text-align: center;
    }
    body {
      background: linear-gradient(to bottom right, #FF0000, #0000FF);
      background-attachment: fixed;
      background-size: cover;
      font-family: Arial, sans-serif;
    }
    button {
      background-color: #007bff;
      color: white;
      padding: 1px 30px;
      border-radius: 4px;
      border: none;
      margin-top: 20px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
    }
    .card {
      border-radius: 15px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    .card-body {
      padding: 0;
    
    }
    .col {
      margin-bottom: 20px;
    }
    .card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      background-color: rgba(255,255,255,0.7);
      text-align: center;
    }
    
    .card-text {
      font-size: 16px;
    }


</style>
{% endblock%}