{% extends "base.html" %} {% block title %} Login {% endblock %} {%block content
%}

<div class="page-wrapper">
  <div class="title-wrapper">
    <div class="title-logo">
      <h1></h1>
      <img
        src="{{ url_for('static', filename='brand_images/playlst_logo.jpeg') }}"
      />
    </div>

    <h3>
      Discover your TV show and movie playlist with playlst! Create a group,
      invite friends, and start matching!
    </h3>
  </div>

  <form method="POST">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter Password"
      />
    </div>

    <button type="submit" class="button">Login</button>
    <a href="/signup"> <button type="button" class="button">SignUp</button></a>
  </form>
</div>
<style>
  .page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-wrapper > * {
    margin-bottom: 20px;
  }

  .title-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-logo > img {
    width: 75%;
    max-height: 80px;
  }
  .title-logo > h1 {
    padding-top: 20px;
    font-size: 75px;
    font-weight: bold;
    color: #66aa33;
  }

  h2 {
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #66aa33;
    padding: 1px; /* add some padding to make the background more visible */
  }

  h3 {
    font-size: 16px;
    line-height: 1.5;
    margin: 0px 0;
    color: #66aa33;
    margin: 0 250px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }

  .text-center {
    text-align: center;
  }
  body {
    background: white;
    background-attachment: fixed;
    background-size: cover;
  }
  .button {
    background-color: #66aa33;
    color: white;
    padding: 1px 30px;
    border-radius: 35px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  .button:hover {
    background-color: #518828;
  }
  .card {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .card-body {
    padding: 0;
  }
  .col {
    margin-bottom: 20px;
  }
  .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }

  .card-text {
    font-size: 16px;
  }
</style>

{% endblock%}
