{% extends "base.html" %}

{% block content %}
  <h1>Shared Favorites</h1>
  {% if favorites %}
    <ul>
      {% for favorite in favorites %}
        <li>{{ favorite.title }} {{ favorite.user.username }} <img src="{{ favorite.image }}" alt="{{ favorite.title }}" width="400"
          height="400" /></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No shared favorites yet.</p>
  {% endif %}



  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .text-center {
      text-align: center;
    }
  </style>

{% endblock %}
